.mainSubContainer {
    display: flex;
    flex-direction: row;

}

.mainContainer {
    width:50%;
}



#search {
    width:100%;
    height:auto;
    border-radius: 5px;
}

.display {
    border-style: groove;
    border-width: 0.5px 2px 0.5px 2px
}

#display-data {
    border-width:  5px;
}